[submodule "node-server/node-cubelets"]
	path = node-server/node-cubelets
	url = git@github.com:cambridge-alpha-team/node-cubelets.git
[submodule "java-backend/tomcatServerBackend/src/main/webapp/frontend"]
	path = java-backend/tomcatServerBackend/src/main/webapp/frontend
	url = git@github.com:cambridge-alpha-team/unvisual-frontend.git
