[submodule "cubelets-wrapper/node-cubelets"]
	path = cubelets-wrapper/node-cubelets
	url = git@github.com:cambridge-alpha-team/node-cubelets.git
[submodule "java-backend/tomcatServerBackend/src/main/webapp"]
	path = java-backend/tomcatServerBackend/src/main/webapp
	url = git@github.com:cambridge-alpha-team/unvisual-frontend.git
[submodule "java-backend/nativeServer/src/main/resources/unvisual-frontend"]
	path = java-backend/nativeServer/src/main/resources/unvisual-frontend
	url = git@github.com:cambridge-alpha-team/unvisual-frontend.git
